body {
    /*background-color: skyblue;*/
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

table td {
    padding: 5px;
    border: solid 1px black;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
}

.search {
    margin-bottom: 10px;
}