{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <div
        data-controller="news"
        data-news-url-value="{{ mercure('http://' ~ appDomain ~ '/news/{id}') }}"
        data-news-news-list-url-value="{{ path('news_list') }}"
    >
        proverka
    </div>
{% endblock %}
